<div class="m-2">
    <div class="w-full max-w-sm m-4 px-4 py-3 mx-4 bg-white rounded-md shadow-md dark:bg-gray-800 hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200 cursor-pointer">
        <div>
            <h1 class="mt-2 text-lg font-semibold text-gray-800 dark:text-white truncate"><%= title %></h1>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-300 truncate"><%= body %></p>
        </div>
        
                <%- include('../partials/actions'); %>
            
    </div>
</div>