<div class="container mt-4 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <% notes.forEach((note)=> { %>
            <%- include('../partials/card', {
                title: note.title,
                body: note.body
            }); %>
            <% }) %>
            </div>

    </div>
</div>