<div class="justify-center items-center">
    <div
                class="card m-2  rounded-lg transform transition-all duration-200">
                <div class="m-3 mb-4 pb-4 relative">
                    <p
                        class="font-light font-mono text-sm truncate text-gray-700 dark:text-gray-300 hover:text-gray-900 transition-all duration-200">
                        <%= note.body %>
                    </p>
                </div>
                <div class="absolute bottom-0 right-0 flex ">
                    <%- include('../partials/actions'); %>
                </div>
            </div>
    </div>